label{
    width: 20%;
    display: inline-block;
    text-align: left;
}
body{
    width: 50%;
    font-family: Arial;
    margin: 5px auto;
    background-color: #f4f7f8;
    padding: 20px;
    color: #1ab;
}
fieldset{
    border-radius: 8px;
}
legend{
    font-size: 1.4em;
    margin-bottom: 10px;
}
input[type="text"], input[type="number"], input[type="email"]{
    border-radius: 5px;
    padding: 10px;
    width: 60%;
    background-color: #f4f7f8;
    margin: 10px;
}
input[type="submit"]{
    position: relative;
    padding: 20px;
    font-size: 18px;
    border: 1px #1ab solid;
    border-radius: 2px;
    margin-top: 8px;
    width: 100%;
    font-size: 18px;
    font-style: bold;
}
ul{
    list-style-type: none;
    padding: 20px;
    overflow: hidden;
    margin: 10px;
    background-color: black;
}
li{
    display: inline;
    padding: 10px;
    margin: 20px;
}
li a {
    color: #1ab;
    padding: 20px;
    margin: 20px;
}
